{% include 'Bytebooks/Cabecera.html' %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenid@ a Bytebooks</h1>
        <p class="lead">La plataforma ideal para descargar guías de programación.</p>
        <hr class="my-2">
        <p>Explora nuestra biblioteca de recursos gratuitos.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Libros" role="button">Ver Guías</a>
        </p>
    </div>
</div>

{% include 'Bytebooks/Pie.html' %}
