{% include 'Bytebooks/Cabecera.html' %}


<div class="container my-4">
    <h2 class="text-center">Sección de Libros</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Libro 1</th>
                <th class="text-center">Libro 2</th>
                <th class="text-center">Libro 3</th>
                <th class="text-center">Libro 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="card">
                        <img class="card-img-top" src="/Templates/Images/Python.jpg" alt="Python" />
                        <div class="card-body">
                            <h4 class="card-title">Python</h4>
                            <p class="card-text">
                                <a class="btn btn-primary" href="/Templates/Books/Python%20para%20todos.pdf"
                                    download="Python_para_todos.pdf" role="button">
                                    Descargar
                                </a>

                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img class="card-img-top" src="/Templates/Images/Javascript.jpg" alt="Javascript" />
                        <div class="card-body">
                            <h4 class="card-title">Javascript</h4>
                            <p class="card-text">
                                <a class="btn btn-primary" href="/Templates/Books/Javascript.pdf"
                                    download="Python_para_todos.pdf" role="button">
                                    Descargar
                                </a>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img class="card-img-top" src="/Templates/Images/Rust.jpg" alt="Rust" />
                        <div class="card-body">
                            <h4 class="card-title">Rust</h4>
                            <p class="card-text">
                                <a class="btn btn-primary" href="/Templates/Books/rust-es.pdf"
                                    download="Python_para_todos.pdf" role="button">
                                    Descargar
                                </a>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img class="card-img-top" src="/Templates/Images/Go.jpg" alt="Goolang" />
                        <div class="card-body">
                            <h4 class="card-title">Goolang</h4>
                            <p class="card-text">
                                <a class="btn btn-primary" href="/Templates/Books/go.pdf"
                                    download="Python_para_todos.pdf" role="button">
                                    Descargar
                                </a>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% include 'Bytebooks/Pie.html' %}