{% include 'Admin/Cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">Datos del Libro</div>
                <div class="card-body">

                    <form action="/Admin/Libros/guardar" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="txtNombre" id="txtNombre"
                                aria-describedby="helpId" placeholder="Escriba el nombre del libro">
                        </div>

                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" name="txtImagen" id="txtImagen"
                                aria-describedby="helpId" placeholder="Seleccione la imagen">
                        </div>

                        <div class="mb-3">
                            <label for="txtUrl" class="form-label">Url Descarga:</label>
                            <input type="text" class="form-control" name="txtUrl" id="txtUrl" aria-describedby="helpId"
                                placeholder="Escriba la url de descarga">
                        </div>
                        <div class="mb-3">
                            <label for="txtCategoria" class="form-label">Categoría:</label>
                            <input type="text" class="form-control" name="txtCategoria" id="txtCategoria"
                                aria-describedby="helpId" placeholder="Escriba la Categoría del libro">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>

                </div>
                <div class="card-footer text-muted"></div>
            </div>

        </div>
        <div class="col-md-7">

            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Url</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in Libros %}
                        <tr>
                            <td>{{ libro[0] }}</td>
                            <td>{{ libro[1] }}</td>
                            <td>{{ libro[2] }}</td>
                            <td>{{ libro[3] }}</td>
                            <td>{{ libro[4] }}</td>
                            <td>
                                <form action="/Admin/Libros/borrar" method="post">
                                    <input type="hidden" name="txtID" value="{{ libro[0] }}">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>


{% include 'Admin/Pie.html' %}