/* Efecto hover para los enlaces */
nav ul li a:hover {
    background-color: #005a99; /* Un azul más claro */
    border-radius: 5px; /* Bordes redondeados para el efecto */
}

/* Asegurar que no haya márgenes en el body y html */
html, body {
    margin: 0;
    padding: 0;
}

/* Elimina márgenes en el contenedor */
nav {
    margin: 0;
    padding: 0;
}